<!DOCTYPE html>
    <html>
    <head>
      <title>Formulario</title>
    </head>
    <body>
      <h1>Formulario</h1>
      <form action="/database/add" method="POST">
        <label for="codigo">Codigo:</label>
        <input type="text" id="codigo" name="codigo" required>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="email">Estado:</label>
        <input type="text" id="estado" name="estado" required>
        <button type="submit">Enviar</button>
      </form>
    </body>
</html>